In [1]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [3]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [4]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [5]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [6]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [7]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [11]:
for x in range(4):
  print(x)
print("-" * 50) 

for x in range(2, 4):
  print(x)
print("-" * 50)
    
for x in range(2, 20, 4):
  print(x)

0
1
2
3
--------------------------------------------------
2
3
--------------------------------------------------
2
6
10
14
18

In [12]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry