In [1]:
import sys

In [2]:
print(sys.version)

3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]

Python Syntax

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [1]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [5]:
x = 5
print(type(x))

<class 'int'>

List

In [6]:
# Creating a list
fruits = ['apple', 'banana', 'cherry']

# Accessing elements
print(fruits[0])

# Modifying elements
fruits[1] = 'blueberry'
print(fruits)

# Adding elements
fruits.append('date')
print(fruits)

# Removing elements
fruits.remove('cherry')
print(fruits) 

# Slicing
print(fruits[1:3])

# Length of the list
print(len(fruits))

apple
['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'date']
['apple', 'blueberry', 'date']
['blueberry', 'date']
3

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

print(len(thislist))

print(thislist[1])

print(thislist[-1])

print(thislist[2:5])

if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

thislist2 = ["apple", "banana", "cherry"]
thislist2[1] = "blackcurrant"
print(thislist2)

thislist3 = ["apple", "banana", "cherry"]
thislist3.insert(2, "watermelon")
print(thislist3)

thislist3.append("orange")
print(thislist3)

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

thislist.remove("banana")
print(thislist)

del thislist[0]
print(thislist)

del thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
7
banana
mango
['cherry', 'orange', 'kiwi']
Yes, 'apple' is in the fruits list
['apple', 'blackcurrant', 'cherry']
['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'watermelon', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'cherry', 'mango', 'pineapple', 'papaya']
['cherry', 'mango', 'pineapple', 'papaya']

In [20]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
['cherry', 'Kiwi', 'Orange', 'banana']

In [23]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

list = thislist[:]
print(list)

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]

Tuple

In [10]:
# Creating a tuple
tuple = (10, 20, 30)

# Accessing elements
print(tuple[1])

# Tuples are immutable; attempting to modify will raise an error
#tuple[1] = 25

# Using tuples as dictionary keys
location = {(10, 20): 'Point A', (30, 40): 'Point B'}
print(location[(10, 20)])

# Length of the tuple
print(len(tuple))  # Output: 3

20
Point A
3

Set

In [12]:
# Creating a set
colors = {'red', 'green', 'blue'}

# Adding elements
colors.add('yellow')
print(colors) 

# Removing elements
colors.remove('green')
print(colors)

# Sets do not allow duplicates
colors.add('red')
print(colors) 

# Set operations
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))        
print(a.intersection(b))
print(a.difference(b))

{'red', 'green', 'yellow', 'blue'}
{'red', 'yellow', 'blue'}
{'red', 'yellow', 'blue'}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [33]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

print(len(thisset))

for x in thisset:
  print(x)

thisset.add("orange")
print(thisset)

tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

thisset.remove("banana")
print(thisset)

thisset.discard("mango")
print(thisset)

{'cherry', 'banana', 'apple'}
3
cherry
banana
apple
{'cherry', 'banana', 'orange', 'apple'}
{'cherry', 'banana', 'papaya', 'mango', 'pineapple', 'orange', 'apple'}
{'cherry', 'papaya', 'mango', 'pineapple', 'orange', 'apple'}
{'cherry', 'papaya', 'pineapple', 'orange', 'apple'}

Dictionary

In [13]:
# Creating a dictionary
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Accessing values
print(person['name']) 

# Adding key-value pairs
person['email'] = 'alice@example.com'
print(person)

# Removing key-value pairs
del person['age']
print(person) 

# Iterating through a dictionary
for key, value in person.items():
    print(f'{key}: {value}')

# Length of the dictionary
print(len(person))  # Output: 3

Alice
{'name': 'Alice', 'age': 30, 'city': 'New York', 'email': 'alice@example.com'}
{'name': 'Alice', 'city': 'New York', 'email': 'alice@example.com'}
name: Alice
city: New York
email: alice@example.com
3

In [2]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()
print(x) 

car["color"] = "white"
print(x)

print(car['year'])
print(car.values())
print(car.keys())

car['year']=2020
print(car.values())

print(car.items())

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
1964
dict_values(['Ford', 'Mustang', 1964, 'white'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 2020, 'white'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'white')])

In [3]:
if "model" in car:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [4]:
car.popitem()
print(car)

del car
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

NameError: name 'car' is not defined

In [21]:
car.clear()
print(car)

{}

In [23]:
for x, y in car.items():
  print(x, y)

brand Ford
model Mustang
year 2020
color white

In [24]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [26]:
print(myfamily['child1']['name'])

Emil

In [36]:
for x, obj in myfamily.items():
    print(x)
    for y in obj.items():
        print(y)

child1
('name', 'Emil')
('year', 2004)
child2
('name', 'Tobias')
('year', 2007)
child3
('name', 'Linus')
('year', 2011)