In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h2>Descriptive Statistic</h2>

<h3>Measures of Central Tendency</h3>

<h4>Mean</h4>

List / Array

In [3]:
lst = [23, 78, 1, 90, 36, 82]

In [4]:
mean = np.mean(lst)
mean

51.666666666666664

DataFrame

In [5]:
df = pd.read_csv('real_estate_dataset.csv')

In [6]:
df.head()

,ID,Square_Feet,Num_Bedrooms,Num_Bathrooms,Num_Floors,Year_Built,Has_Garden,Has_Pool,Garage_Size,Location_Score,Distance_to_Center,Price
0,1,143.635030,1,3,3,1967,1,1,48,8.297631,5.935734,602134.816747
1,2,287.678577,1,2,1,1949,0,1,37,6.061466,10.827392,591425.135386
2,3,232.998485,1,3,2,1923,1,0,14,2.911442,6.904599,464478.696880
3,4,199.664621,5,2,2,1918,0,0,17,2.070949,8.284019,583105.655996
4,5,89.004660,4,3,3,1999,1,0,34,1.523278,14.648277,619879.142523

In [8]:
mean = np.mean(df['Price'])
mean

582209.6295285609

In [9]:
mn = df['Price'].mean()
mn

582209.6295285609

In [12]:
df.mean()

ID                       250.500000
Square_Feet              174.640428
Num_Bedrooms               2.958000
Num_Bathrooms              1.976000
Num_Floors                 1.964000
Year_Built              1957.604000
Has_Garden                 0.536000
Has_Pool                   0.492000
Garage_Size               30.174000
Location_Score             5.164410
Distance_to_Center        10.469641
Price                 582209.629529
dtype: float64

In [13]:
df.describe()

,ID,Square_Feet,Num_Bedrooms,Num_Bathrooms,Num_Floors,Year_Built,Has_Garden,Has_Pool,Garage_Size,Location_Score,Distance_to_Center,Price
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,250.500000,174.640428,2.958000,1.976000,1.964000,1957.604000,0.536000,0.492000,30.174000,5.164410,10.469641,582209.629529
std,144.481833,74.672102,1.440968,0.820225,0.802491,35.491781,0.499202,0.500437,11.582575,2.853489,5.588197,122273.390345
min,1.000000,51.265396,1.000000,1.000000,1.000000,1900.000000,0.000000,0.000000,10.000000,0.004428,0.062818,276892.470136
25%,125.750000,110.319923,2.000000,1.000000,1.000000,1926.000000,0.000000,0.000000,20.000000,2.760650,6.066754,503080.344140
50%,250.500000,178.290937,3.000000,2.000000,2.000000,1959.000000,1.000000,0.000000,30.000000,5.206518,10.886066,574724.113347
75%,375.250000,239.031220,4.000000,3.000000,3.000000,1988.000000,1.000000,1.000000,41.000000,7.732933,15.072590,665942.301274
max,500.000000,298.241199,5.000000,3.000000,3.000000,2022.000000,1.000000,1.000000,49.000000,9.995439,19.927966,960678.274291

<h4>Mode</h4>

In [18]:
mode = df['Year_Built'].mode()
mode

0    1920
1    1959
Name: Year_Built, dtype: int64

In [19]:
df['Num_Bedrooms'].mode()

0    1
Name: Num_Bedrooms, dtype: int64

In [37]:
df['Year_Built'].value_counts()

Year_Built
1959    12
1920    12
1901    10
1935     9
1907     9
        ..
1952     1
1939     1
1936     1
1955     1
1993     1
Name: count, Length: 121, dtype: int64

In [20]:
df['Num_Bedrooms'].unique()

array([1, 5, 4, 3, 2], dtype=int64)

In [21]:
df.mode()

,ID,Square_Feet,Num_Bedrooms,Num_Bathrooms,Num_Floors,Year_Built,Has_Garden,Has_Pool,Garage_Size,Location_Score,Distance_to_Center,Price
0,1,51.265396,1.0,1.0,2.0,1920.0,1.0,0.0,26.0,0.004428,0.062818,276892.470136
1,2,51.380529,NaN,NaN,NaN,1959.0,NaN,NaN,46.0,0.020185,0.106923,280166.110934
2,3,51.738033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.066821,0.114372,291630.925913
3,4,52.299263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.079644,0.128704,298871.665267
4,5,52.709413,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.100906,0.174123,299387.116387
...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,296.659895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.903618,19.734582,867558.296769
496,497,296.721734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.924423,19.770433,875352.545188
497,498,297.513463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.949814,19.784355,885909.215276
498,499,297.626286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.962623,19.835458,909199.560366
499,500,298.241199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.995439,19.927966,960678.274291

In [22]:
df2 = pd.read_csv('gender_classification_v7.csv')

In [23]:
df2.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [24]:
df2['forehead_width_cm'].mode()

0    12.0
Name: forehead_width_cm, dtype: float64

<h4>Median</h4>

In [25]:
df['Year_Built'].median()

1959.0

In [27]:
np.median(lst)

57.0

In [35]:
df.median()

ID                       250.500000
Square_Feet              178.290937
Num_Bedrooms               3.000000
Num_Bathrooms              2.000000
Num_Floors                 2.000000
Year_Built              1959.000000
Has_Garden                 1.000000
Has_Pool                   0.000000
Garage_Size               30.000000
Location_Score             5.206518
Distance_to_Center        10.886066
Price                 574724.113347
dtype: float64

<h3>Measure of Variability</h3>

<h4>Range</h4>

In [45]:
print('Range of Year :', max(df['Year_Built']) - min(df['Year_Built']))

Range of Year : 122

In [48]:
print('Range of Year :', df['Year_Built'].max() - df['Year_Built'].min())

Range of Year : 122

In [49]:
print('Range of Bedrooms :', df['Num_Bedrooms'].max() - df['Num_Bedrooms'].min())

Range of Bedrooms : 4

<h4>Variance</h4>

In [60]:
h = df['Price'].var()          # pandas dataframe calculates sample variance by default meaning in the denominator (N - 1) is used.
print('Sample variance :', h)  # sample variance is used for large dataset
                               # To calculate population variance --> df['Price'].var(ddof = 0)

Sample variance : 14950781986.482094

In [59]:
p = df['Price'].var(ddof = 0)
print('Population variance :', p)

Population variance : 14920880422.509129

In [54]:
np.var(df['Price'])  # numpy calculates population variance by default meaning in the denominator (N) is used.
                     # To calculate sample variance --> np.var(df['Price'], ddof = 1)

14920880422.509129

In [57]:
np.var(df['Price'], ddof = 1)

14950781986.482094

<h4>Standard Deviation</h4>

In [72]:
print('Population :', np.std(lst))
print('Sample     :', np.std(lst, ddof = 1))

Population : 33.45976024354561
Sample     : 36.653330908208964

In [73]:
print('Sample Standard Deviation     :', df['Price'].std())          # sample Standard Deviation (Default)
print('Population Standard Deviation :', df['Price'].std(ddof = 0))  # Population Standard Deviation

Sample Standard Deviation     : 122273.39034508732
Population Standard Deviation : 122151.05575683384

In [74]:
print('Population Standard Deviation :', np.std(df['Price']))            # Population Standard Deviation (Default)
print('Sample Standard Deviation     :', np.std(df['Price'], ddof = 1))  # sample Standard Deviation

Population Standard Deviation : 122151.05575683384
Sample Standard Deviation     : 122273.39034508732

<h4>Skewness</h4>

In [77]:
df['Price'].skew()

0.20860884190692716

In [83]:
df['Year_Built'].skew()

0.05817114466569298

<h4>Kurtosis</h4>

In [87]:
df['Price'].kurt()

-0.15354674728688567

In [90]:
df['Year_Built'].kurt()

-1.2388754892468503

In [93]:
df['Num_Floors'].value_counts(normalize = True)

Num_Floors
2    0.356
1    0.340
3    0.304
Name: proportion, dtype: float64

<h4>Quartiles

In [94]:
df.describe()

,ID,Square_Feet,Num_Bedrooms,Num_Bathrooms,Num_Floors,Year_Built,Has_Garden,Has_Pool,Garage_Size,Location_Score,Distance_to_Center,Price
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,250.500000,174.640428,2.958000,1.976000,1.964000,1957.604000,0.536000,0.492000,30.174000,5.164410,10.469641,582209.629529
std,144.481833,74.672102,1.440968,0.820225,0.802491,35.491781,0.499202,0.500437,11.582575,2.853489,5.588197,122273.390345
min,1.000000,51.265396,1.000000,1.000000,1.000000,1900.000000,0.000000,0.000000,10.000000,0.004428,0.062818,276892.470136
25%,125.750000,110.319923,2.000000,1.000000,1.000000,1926.000000,0.000000,0.000000,20.000000,2.760650,6.066754,503080.344140
50%,250.500000,178.290937,3.000000,2.000000,2.000000,1959.000000,1.000000,0.000000,30.000000,5.206518,10.886066,574724.113347
75%,375.250000,239.031220,4.000000,3.000000,3.000000,1988.000000,1.000000,1.000000,41.000000,7.732933,15.072590,665942.301274
max,500.000000,298.241199,5.000000,3.000000,3.000000,2022.000000,1.000000,1.000000,49.000000,9.995439,19.927966,960678.274291

In [100]:
df['Distance_to_Center'].quantile(.75)

15.072589813326317

In [103]:
df['Distance_to_Center'].quantile(.50)

10.886066135359119

<h4>Outliers</h4>

In [108]:
iqr = df['Price'].quantile(.75) - df['Price'].quantile(.25)
iqr

162861.95713419002

In [109]:
q1 = df['Price'].quantile(.25)

In [110]:
q3 = df['Price'].quantile(.75)

In [111]:
count = 0
for x in df['Price'] :
   if x < (q1 - 1.5 * iqr) or x > (q3 + 1.5 * iqr):
       count = count + 1
print(count)

1